<div class="main shell dashboard">
  <div class="grid ">
    <div class="col-7-12">

      <!-- <div class="widget">
          <header><h4></h4></header>
          <div class="widget_content">
                          </div>
      </div> -->

    </div>
    <div class="col-4-12">

      <div class="widget">
        <header><h4>Active Projects</h4></header>
        <div class="widget_content">
          <div class="activeProjectList">
            <ul class="project-list">
              <li class="project first">

                <a class="link_to_project" href="http://115.146.126.146/cpm/vn/projects/loadProject/14">

                  <div class="project_icon">
                    <img src="../uploads/project_icon/php.png" class="project_icon_img" width="150" ,="" height="150">
                  </div>
                        <span class="project-name">
                            GoSeeDoc                        </span>
                </a></li>
              <li class="project first">

                <a class="link_to_project" href="http://115.146.126.146/cpm/vn/projects/loadProject/13">

                  <div class="project_icon">
                    <img src="../uploads/project_icon/php.png" class="project_icon_img" width="150" ,="" height="150">
                  </div>
                        <span class="project-name">
                            CPM                        </span>
                </a></li>
              <li class="project first">

                <a class="link_to_project" href="http://115.146.126.146/cpm/vn/projects/loadProject/12">

                  <div class="project_icon">
                    <img src="../uploads/project_icon/php.png" class="project_icon_img" width="150" ,="" height="150">
                  </div>
                        <span class="project-name">
                            Yellow Pages                        </span>
                </a></li>
              <li class="project first">

                <a class="link_to_project" href="http://115.146.126.146/cpm/vn/projects/loadProject/11">

                  <div class="project_icon">
                    <img src="../uploads/project_icon/php.png" class="project_icon_img" width="150" ,="" height="150">
                  </div>
                        <span class="project-name">
                            Pigen &amp; Basunen                        </span>
                </a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>