/* CSS Document */

.form-actions{
	margin-bottom: 0px;
    margin-top: 0px;
}

.fixed_sort { background: #f1f1f1;}
#ListProcess header{ background: none;}
#ListProcess .widget{ position: relative;}
.process_control{ float:right; position: absolute; right: 10px; top: 10px;}

.fixTaskBlock{ overflow-y:auto;}

.centerProcess{ border-left:1px dashed  #999; height:100%;}
.centerProcess ul,
#JPanel_BackLog ul,
#JPanel_Archive ul
 { height:90%;}

.centerProcess ul.dropdown-menu,
#JPanel_BackLog ul.dropdown-menu,
#JPanel_Archive ul.dropdown-menu
{ height:auto;
   min-width:10px;
}

.centerProcess ul.dropdown-menu a,
#JPanel_BackLog ul.dropdown-menu a,
#JPanel_Archive ul.dropdown-menu a
{
    padding: 3px 10px;

}

.centerProcess ul.dropdown-menu li,
#JPanel_BackLog ul.dropdown-menu li,
#JPanel_Archive ul.dropdown-menu li
{ float: none;  margin-right:0px!important;}

.centerProcess ul.dropdown-menu li a:hover,
#JPanel_BackLog ul.dropdown-menu li a:hover,
#JPanel_Archive ul.dropdown-menu li a:hover{
    background:#0071B7;
    color: #ffffff;
}

.firstProcess{ border-left:0px dashed #999;}


.button_add_process i{
    background: url("images/add_black.png");
    display: inline-block;
    width: 16px;
    height: 16px;
}

.button_add_process:hover i{
    background: url("images/add.png");
    display: inline-block;
    width: 16px;
    height: 16px;
}

#JPanel_BackLog #panelTitle_BackLog{ background:url(images/chevron-left.png) no-repeat 0px 10px;}
#JPanel_Archive #panelTitle_Archivie{ background:url(images/chevron-right.png) no-repeat right 10px;}

#panelTitle_BackLog
{
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 20px;
    cursor: pointer;

}
#panelTitle_Archivie
{
    margin-top: 20px;
    padding-top: 5px;
    margin-left: 20px;
    cursor: pointer;
    

}

.box_wrap1, .box_wrap2{
    float: left;
    display:block;     
    padding: 1%;
}
.box_wrap1{
    
}
.box_wrap2{
     
}
.box_wrap2 table{border-right:1px solid #ccc;border-top:1px solid #ccc;}
.box_wrap2  td,.box_wrap2  th{border-left:1px solid #ccc;border-bottom:1px solid #ccc; width:35px; height:35px;}
#iconPro{
    width: 30%;  
    float: left;
    height: auto;
    overflow:auto;
}
.iconPro{
    margin: 40% auto;
    display: block;
}
#proPro{     
    float: left;
    overflow:auto;
}

#descPro{
    width: 100%;
    float: left;
}
#titlePro{
    width:100%;
    display: block;     
}
#titlePro > h3{
    width:85%;
    float: left;
}
#titlePro a{         
    text-decoration: none;
}a
#titlePro > h3,#titlePro > a{
    display: inline-block;
}
img.avatar_mem{
	width:30px;
	height:30px;
	border-radius:50%;
}
.widget { background: none repeat scroll 0 0 #ffffff;
    box-shadow: 0 -10px 8px -10px #ccc inset, 0 10px 8px -10px #ccc inset; border: 1px solid #cccc; padding-bottom:2px; float: left;
  width: 100%;}
.widget .widget_content{background: #ffffff; padding: 5px;}
.widget header{ background: none; color: #666;}
.widget header h4{margin: 5px 0px; font-size: 12px;}
.widget .tableList2{ background: #fff;}
.widget .tableList2 th{ background: #ccc;}
.widget .pagination {
    margin: 5px 0;
}
.widget .paging_display_info {
    float: left;
    line-height: 30px;
    margin: 0 20px;
}
.widget .content{ background: #ffffff;}

.widgetGray { /*background:url("images/bg_2.png");*/ background: none repeat scroll 0 0 #f1f1f1;
    box-shadow: 0 -10px 8px -10px #ccc inset, 0 10px 8px -10px #ccc inset; border: 1px solid #ccc; padding-bottom:2px; }
.widgetGray .widget_content{background: #ffffff; padding: 5px;}
.widgetGray header{ background: none; color: #333;}
.widgetGray header h4{margin: 5px 0px; font-size: 16px;}
.widgetGray .tableList2{ background: #fff;}
.widgetGray .tableList2 th{ background: #A5D3CA;}
.widgetGray .pagination {
    margin: 5px 0;
}
.widgetGray .paging_display_info {
    float: left;
    line-height: 30px;
    margin: 0 20px;
}

.boottrap-white{
    background-image: url("bootstrap/img/glyphicons-halflings-white.png") !important;
}

.boottrap-blue{
    background-image: url("bootstrap/img/glyphicons-halflings-blue.png") !important;
}

.boottrap-gray{
    background-image: url("bootstrap/img/glyphicons-halflings-gray.png") !important;
}

.boottrap-green{
    background-image: url("bootstrap/img/glyphicons-halflings-green.png") !important;
}

.dropdownRight .dropdown-menu{ left: auto; right: 0px;}

.nomargin{ margin: 0px;}
.pad5{padding: 5px;}
.split{border-left: 1px solid #ccc; height: 100%;}

.divTable{ display: table; width: 100%;}
.divRow{ display: table-row}
.divCell{display: table-cell; vertical-align: top;}
.smallAvatar40{ width: 40px; height: 40px; overflow: hidden; display: table-cell; text-align: center; vertical-align: middle; border: 1px solid #ccc;}
.smallAvatar50{ width: 50px; height: 50px; overflow: hidden; display: table-cell; text-align: center; vertical-align: middle; border: 1px solid #ccc;}
.scrollY{ overflow-x:hidden; overflow-y:auto;}
.scrollX{ overflow-y:hidden; overflow-x:auto;}

.readyTask_0{}
.readyTask_1{border:2px dashed #0000FF !important;} /*ready*/
.readyTask_2{ border:2px dashed #CC0000 !important; } /*pending*/

.icon_next{background: url("images/icon_next.png") no-repeat; width: 20px; height: 20px; display: inline-block;}
.icon_back{background: url("images/icon_back.png") no-repeat; width: 20px; height: 20px; display: inline-block;}
.icon_nav_disable{ background-position: 0 -20px}

.shoutItem{ padding: 5px 10px; position: relative; border-bottom: 1px solid #ccc;}
.shoutItem .commentAvatar{ position: absolute; top: 10px; left: 10px;}
.shoutItem .shoutContent{ margin-left: 50px;}
.shoutItemForm{padding: 10px; border-bottom: 1px solid #ccc;}
.projectShoutBox .commentItem{ background: #f1f1f1;}
.w100p {width: 100%;}
.w95p {width: 95%;}
.w90p {width: 90%;}

.box_wrap2 span.event{
    font-size: 16px;
    padding: 0;
}